section {
    width: 100%;
    height: 100vh;
    position: relative;

    &#postit {
        background-color: red;
    }

    &#monitor {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &#jira {
        background-color: #FFFFFF;
    }

    .postits__container {
        height: 100%;
    }
    .postits__postit-container {
        z-index: 10;
    }
}